.root {
  height: 200px;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

.list:hover {
  overflow: overlay;
}

.list {
  display: flex;
  width: 100vw - 25px;
  overflow-x: hidden;
}

.tv_show_item {
  margin-right: 20px;
}
